.align-middle {
	margin-top: 10%;
}

.btn-circle {
  	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.42;
	border-radius: 15px;
}

.pad-adjust {
	padding-top: 10px;
}

.mongo-icon {
    width: 35px;
    height: 35px;
    margin-top: -7px;
    margin-left: -7px;
}
