<div class="panel panel-default" ng-controller="EquipmentController">
	<div class="panel-heading">
		<h4>Equipamentos</h4>
	</div>
	<div class="panel-body">
		<form role="form">
			<legend>Adicionar equipamento</legend>
			<div class="form-group">
				<label for="name">Nome</label>
				<input type="text" class="form-control" id="name" placeholder="Nome do equipamento" ng-model="formData.name">
			</div>
			<div class="form-group">
				<label for="name">Categoria</label>
				<select class="form-control" ng-model="formData.category" ng-options="category as category.description for category in categories track by category.description">
					<option ng-selected="selected" required>Selecione uma categoria</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-6 pad-adjust">
					<button type="submit" ng-click="createEquipment()" class="btn btn-primary btn-block">SALVAR</button>
				</div>
				<div class="col-md-6 pad-adjust">
					<a href="/equipment" class="btn btn-danger btn-block">CANCELAR</a>
				</div>
			</div>
		</form>
	</div>
</div>
